
<p><%= link_to "accounts", accounts_path %></p>
<p><%= link_to "videos", videos_path %></p>
<p><%= link_to "chats", chats_path %></p>
<p><%= link_to "arts", arts_path %></p>
<p><%= link_to "histories", histories_path %></p>

