<p>
  <b>Mail:</b>
  <%=h @account.mail %>
</p>

<p>
  <b>Password:</b>
  <%=h @account.c_password %>
</p>

<p>
  <b>Identity url:</b>
  <%=h @account.identity_url %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
